{% extends "base.html" %}
{% block content %}
<div class="container" style="vertical-align: center;">
    <div style="text-align:center">
        <h2>Resources</h2>
    </div>
    <hr>
    {% if all_resources|length > 0 %}
    <!--</div>-->
    <table class="table table-striped table-hover">
        <tr>
            <th>Resource ID</th>
            <th>Resource Name</th>
            <th align="right"></th>
        </tr>
        {% for resource in all_resources %}
        <tr>
            <td>{{ resource.id }}</td>
            <td>{{ resource.name }}</td>
            <td align="right">
                <div class="btn-group" role="group">
                    <a href="{{ url_for('editresource', resid=resource.id) }}" role="button" class="btn btn-warning btn-md">Edit</a>
                    <a href="{{ url_for('deleteresource', resid=resource.id) }}" role="button"
                       class="btn btn-danger btn-md">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div style="text-align:center">
        <h3>No resources added</h3>
    </div>
    {% endif %}
    <div style="text-align:center">
        <a href="{{ url_for('addresource') }}" role="button" class="btn btn-md btn-success" style="margin-top: 10px">
            Add New Resource</a>
    </div>
</div> <!-- /container -->
{% endblock %}
